- columns = 4
- rows = 3
- months = [*(@first_month..12)].concat([*(1..@first_month)])
.ac-container
  %table.ac-table.unselectable
    %tbody
      - for row_ind in (0...rows)
        %tr
          - for column_ind in (0...columns)
            - month = months[row_ind * columns + column_ind]
            - if month >= @first_month
              - year = @start_year
            - else
              - year = @start_year + 1
            %td.ac-table-grid{:class => "year-#{year} month-#{month}"}
              .ac-mc-container
                = render "/layouts/calendars/monthly_calendar", :year => year, :month => month, :base_path => base_path, :grid_partial => grid_partial
