%ul.nav.nav-list
  = active_link_fullpath 'CALENDAR', '/classes_page/calendar'
  = active_link_fullpath 'SCHEDULE', '/classes_page/schedule'
  = active_link_fullpath 'ATTENDANCE', '/classes_page/attendance'
