%table.classes-table.table.table-bordered.table-condensed
  %thead
    %tr
      %th{:colspan => 2}
        Regular Classes
        %a.btn.pull-right.add-class{:href => "/courses/new?program_id=#{@program.id}&course_type=regular"}
          add
  - @courses.each do |course|
    - if course.course_type == "RegularCourse"
      = render "class_details", :course => course

%table.classes-table.table.table-bordered.table-condensed
  %thead
    %tr
      %th{:colspan => 2}
        Group Classes
        %a.btn.pull-right.add-class{:href => "/courses/new?program_id=#{@program.id}&course_type=group"}
          add
  - @courses.each do |course|
    - if course.course_type == "GroupCourse"
      = render "class_details", :course => course
