%table.classes-table.table.table-bordered
  %thead
    %tr
      %th{:colspan => 2}
        Regular Classes
  - @courses.where(:course_type => "RegularCourse").each do |course|
    = render "class_details", :course => course

%table.classes-table.table.table-bordered
  %thead
    %tr
      %th{:colspan => 2}
        Group Classes
  - @courses.where(:course_type => "GroupCourse").each do |course|
    = render "class_details", :course => course
