%table.classes-table.table.table-striped.table-bordered
  %tr
    %th{:colspan => 2}
      Regular Class
  - @courses.where(:course_type => "RegularCourse").each do |course|
    = render "class_details", :course => course
  %tr
    %th{:colspan => 2}
      Group Class
  - @courses.where(:course_type => "GroupCourse").each do |course|
    = render "class_details", :course => course

