- students = course.students
%tr
  %td{:rowspan => "#{students.count}"}
    - date = course.date
    .dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %span
          = course.name
        %span.caret
      %ul.dropdown-menu{:role => "menu", "aria-labelledby" => "dropdownMenu"}
        %li
          %a{:href => "#", :tabindex => "-1"}
            Add a student
        %li
          %a{:href => "#", :tabindex => "-1"}
            Update class
        %li
          %a{:href => "/courses?program_id=" + @program_id.to_s + "&year=" + date.year.to_s + "&month=" + date.month.to_s + "&day=" + date.day.to_s, :tabindex => "-1"}
            Show in calendar
  %td
    - if students.count == 0
      %span.empty-class
        empty
    - else
      %span.student-name
        = students.first.name
- unless students.empty?
  - students[1..-1].each do |student|
    %tr
      %td
        %span.student-name
          = student.name
