#roster-form-body
  = simple_form_for @roster do |f|
    = f.input :program_id, :input_html => {:value => params[:program_id]}, :as => :hidden
    = f.input :student_id, :input_html => {:value => params[:student_id]}, :as => :hidden
    = f.association :course, :collection => @courses, :label_method => :summary_text, :value_method => :id, :include_blank => false
