%table.rosters-table.table.table-striped.table-bordered
  - @students.each do |student|
    %tr
      %th{:colspan => 4}
        = student.name
        %a.btn.pull-right{:href => "#"}
          actions
    %tr
      %th{:colspan => 4}
        Regular Class
        %a.btn.pull-right.new-roster{:href => "/rosters/new?program_id=" + @program_id.to_s + "&student_id=" + student.id.to_s + "&term_id" + @term_id.to_s + "&type=regular"}
          %i.icon-plus
          
    - student.rosters.each do |roster|
      - course = roster.course
      - if course[:course_type] == "RegularCourse"
        = render "roster_details", :course => course, :roster => roster
    %tr
      %th{:colspan => 4}
        Group Class
        %a.btn.pull-right.new-roster{:href => "/rosters/new?program_id=" + @program_id.to_s + "&student_id=" + student.id.to_s + "&term_id" + @term_id.to_s + "&type=group"}
          %i.icon-plus
    - student.rosters.each do |roster|
      - course = roster.course
      - if course.course_type == "GroupCourse"
        = render "roster_details", :course => course, :roster => roster
