%form{:id =>"mainForm" , :name=>"mainForm", :method=>"post",:action =>""}
    %p
        %label Name:
        %input{:type => "text", :id=>"txtName",:name=>"txtName"}
    %p
        %label Address
        %input{:type => "text", :id=>"txtAdd",:name=>"txtAdd"}
    %p
        %input{:type => "submit", :name=>"Submit",:value =>"Submit"}
