= content_for :title do
	people

= content_for :sidemenu do
	%ul.nav.nav-list
		%li.active
			%a{:href => '#'} STAFF
		%li
			%a{:href => '#'} TEACHERS
		%li
			%a{:href => '#'} STUDENTS

= content_for :main do
	%a#username{:href => '#',':data-type' => 'text', ':data-pk' => '1'} ddd
	%a#status{:href => '#', ':data-type' => 'select', ':data-pk' => '1', ':data-url' => '/post', ':data-original-title' => 'Select status'} ddd
