= content_for :title do
	people

= content_for :sidemenu do
	= render 'people/sidebar'

= content_for :main do
	%table.table.table-bordered.table-striped{:style => 'clear: both'}
		%tr
			%th{:width => '30%'}
				Name
			%th{:width => '30%'}
				Email
			%th
				Region
		%tr
			%td
			%td
				%a.email-input{:href => '#'}
					email
			%td
				%a.region-input{:href => '#'}
		%tr
			%td
			%td
				%a.text{:href => '#'}
					email
			%td
				%a.region-input{:href => '#'}
