= content_for :title do
	people

= content_for :sidemenu do
	%ul.nav.nav-list
		%li.active
			%a{:href => '#'} STAFF
		%li
			%a{:href => '#'} TEACHERS
		%li
			%a{:href => '#'} STUDENTS

= content_for :main do
	test
