= content_for :title do
	people

= content_for :sidemenu do
	= render 'people/sidebar'

= content_for :main do
	staff<br>
	%a#username{:href => '#','data-type' => 'text', 'data-pk' => '1'} ddd
	%a#status{:href => '#', 'data-type' => 'select', 'data-pk' => '1', 'data-url' => '/post', 'data-original-title' => 'Select status'} ddd
