= content_for :title do
	people

= content_for :sidemenu do
	= render 'people/sidebar'

= content_for :main do
	%table.table.table-bordered.table-striped{:style => 'clear: both'}
		%tr
			%th{:width => '25%'}
				First Name
			%th{:width => '25%'}
				Last Name
			%th{:width => '25%'}
				Email
			%th{:width => '25%'}
				Region
		%tr
			%td
				%a.first-name-input{:href => '#'}
			%td
				%a.last-name-input{:href => '#'}
			%td
				%a.email-input{:href => '#'}
			%td
				%a.region-input{:href => '#'}
