.new-entry-form-body
  = simple_form_for @student, :html => {:class => 'new_entry'} do |f|
    .error-message
      = f.input :first_name, :label => "First Name"
      = f.input :last_name, :label => "Last name"
      = f.association :school, :label => 'School', :label_method => :name, :include_blank => false
