!!!
%html
  %head
    -# %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name => "viewport", :content => "text/html, charset = UTF-8, width=device-width, initial-scale=1, maximum-scale=1", "http-equiv" => "Content-Type"}
    %title RailsCasts
  %body
    %h1
      Hi, 
      =@user.first_name + " " + @user.last_name
    %p
      You have successfully reset password
