-content_for :title do
	program

- content_for :sidemenu do
	%ul.nav.nav-list
		%li.active
			%a{:href => '#'}REGION
		%li
			%a{:href => '#'}INSTRUCMENT &amp PROGRAM TYPE
		%li
			%a{:href => '#'}PROGRAM
		%li
			%a{:href => '#'}SCHOOL
