= simple_form_for :user, :url => "/password_resets", :method => :post do |f|
  = f.input :email
  = f.button :submit, "Reset my password!"
-# = form_tag password_resets_path, :method => :post do
-#   .field
-#     = label_tag :email
-#     = text_field_tag :email
-#     = submit_tag "Reset my password!"
