= content_for :sidemenu do
	%ul.nav.nav-list
		%li.active
			%a{:href => '/programs/regions'} REGIONS
		%li
			%a{:href => '/programs/instrument_types'} INSTRUMENT TYPES
		%li
			%a{:href => '/programs/program_types'} PROGRAM TYPES
		%li
			%a{:href => '/programs/schools'} SCHOOLS

