- content_for :title do
  programs/programs

- content_for :sidemenu do
  - render '/layouts/programs_page_sidebar'

- content_for :main do
  %ul.nav.nav-tabs
    - i = 0
    - @schools.each do |school|
      %li{:class => (i == 0 ? 'active' : nil)}
        %a.tab-hover{:href => "#tab-#{school.id}", "data-toggle" => "tab", :title => "#{school.full}"}
          = school.abbrev
      - i += 1
  %table.table.table-bordered.table-striped{:style => 'clear: both'}
    %tr
      %th INSTRUMENT
      %th PROGRAM TYPE
      %th REGULAR CLASS PER YEAR
      %th GROUP CLASS PER YEAR
    .tab-content
      .tab-pane{:class => (i == 0 ? 'active' : nil)}
      %tr
        %td
          1
        %td
        %td
        %td

  -# = modal_for "new-program", :modal_title => "New Program"
