-content_for :title do
	programs

- content_for :sidemenu do
	%ul.nav.nav-list
		%li.active
			%a{:href => '#'}REGIONS
		%li
			%a{:href => '#'}INSTRUCMENT TYPES
		%li
			%a{:href => '#'}PROGRAM TYPES
		%li
			%a{:href => '#'}SCHOOLS
