- klass = "day-text"
- if day.month != month
  - klass << " not-current-month"
- else
  - klass << " today" if day == @today
  - if @schedules.has_key? day
    - klass << " class-day" unless @schedules[day].empty?
%td{:data => {:year => day.year, :momth => day.month, :day => day.day}, :class => klass}
  = link_to day.day, self.send(base_path, :year => day.year, :month => day.month, :day => day.day, :program => @program_id), :class => "day-link"
