%li
  = link_to "today", self.send(base_path, :year => @today.year, :school_id => @school_id, :program_id => @program_id)
%li
  = link_to "<", self.send(base_path, :year => @year - 1, :school_id => @school_id, :program_id => @program_id)
%li
  = link_to ">", self.send(base_path, :year => @year + 1, :school_id => @school_id, :program_id => @program_id)
%li
  %span.navbar-text#subnav-text
    = @year
