- content_for :title do
  schedule
- content_for :sidemenu do
  - render '/layouts/classes_page_sidebar'
- content_for :subnav do
  = render "navbar", :active => "year"
- content_for :main do
  = annual_calendar_for @schedules, :year => @year.to_i, :program => @program do |c|
    = c.draw_annual_calendar_body
  = modal_for "course", :delete_button => true
