- content_for :title do
  schedule 
- content_for :sidemenu do
  - render '/layouts/classes_page_sidebar'
- if @schedules
  - content_for :subnav do
    = render "/layouts/subnav", :active => "week", :nav_pills_partial => "/schedules/week_nav_pills", :nav_filter_partial => "/schedules/schedule_week_nav_filter", :base_path => :schedules_week_path
  - content_for :main do
    = render "/layouts/calendars/weekly_calendar", :calendar_name => "schedule", :event_partial => "/schedules/schedule_events"
    -# = weekly_calendar_for @schedules, :year => @year.to_i, :month => @month.to_i, :day => @day.to_i, :category_method => :group, :calendar_name => "course", :program => @program, :background_calendar => @calendars do |c|
    -#   = c.draw_weekly_calendar_nav
    -#   = c.draw_weekly_calendar_body

    = modal_for "schedule", :delete_button => true
- else
  - content_for :main do
    = render "/layouts/empty_program_page"
