<body data-spy="scroll" data-target=".subnav" data-offset="100">
 
	<div class="container">
		<div class="subnav">
			<ul class="nav nav-pills">
				<li><a href="#section1">Section 1</a></li>
				<li><a href="#section2">Section 2</a></li>
				<li><a href="#section3">Section 3</a></li>
			</ul>
		</div>
	</div>
	
	<section id="section1">
		<h1>Section 1</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	</section>
	
	<section id="section2">
		<h1>Section 2</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	</section>
	
	<section id="section3">
		<h1>Section 3</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	</section>
	
  <div class='input-append bootstrap-timepicker' style='display: inline;'>
    <input class='dateselect-time input-small' type='text' data-time='12:34 PM'>
    <span class='add-on'><i class='icon-time'></i></span>
  </div> 

  <div class="input-append bootstrap-timepicker">
    <input id="timepicker1" type="text" class="input-small">
    <span class="add-on"><i class="icon-time"></i></span>
  </div>

  <ul class="nav nav-tabs">
    <li><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>
    <li><a href="#messages" data-toggle="tab">Messages</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
  </ul> 
  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <p>
        This is home.
      </p>
    </div>
    <div class="tab-pane" id="profile">
      <p>This is profile</p>
    </div>
    <div class="tab-pane" id="messages">
      <p>This is messages</p>
    </div>
    <div class="tab-pane" id="settings">
      <p>This is settings</p>
    </div>
  </div> 
</body>
