<body data-spy="scroll" data-target=".subnav" data-offset="100">
 
	<div class="container">
		<div class="subnav">
			<ul class="nav nav-pills">
				<li><a href="#section1">Section 1</a></li>
				<li><a href="#section2">Section 2</a></li>
				<li><a href="#section3">Section 3</a></li>
			</ul>
		</div>
	</div>
	
	<section id="section1">
		<h1>Section 1</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	</section>
	
	<section id="section2">
		<h1>Section 2</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	</section>
	
	<section id="section3">
		<h1>Section 3</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	</section>
	
</body>
