- klass = "day-text"
- if day.month != month
  - klass << " not-current-month"
- else
  - klass << " today" if day == @today
  - if @calendars.has_key? day
    - klass << " " << day_marking(@calendars[day])
    - klass << " calendar-day" unless @calendars[day].empty?
%td{:data => {:year => day.year, :month => day.month, :day => day.day}, :class => klass}
  = link_to day.day, self.send(base_path, :year => day.year, :month => day.month, :day => day.day, :program_id => @program_id), :class => "day-link"
