- content_for :title do
  calendar 
- content_for :sidemenu do
  - render '/layouts/classes_page_sidebar'
- content_for :subnav do
  = render "navbar", :active => "year"
- content_for :main do
  = render "/layouts/calendars/annual_calendar", {:base_path => :calendars_week_path, :grid_partial => "/calendars/calendar_grid"}

