- content_for :title do
  calendar 
- content_for :sidemenu do
  - render '/layouts/classes_page_sidebar'
- if @calendars
  - content_for :subnav do
    = render "/layouts/subnav", :nav_pills_partial => "/calendars/week_nav_pills", :nav_filter_partial => "/calendars/calendar_nav_filter", :active => "week", :base_path => :calendars_week_path
  - content_for :main do
    - calendar_name = "calendar"
    = render "/layouts/calendars/weekly_calendar", :calendar_name => "calendar", :event_partial => "/calendars/calendar_events"

    = modal_for "calendar", :delete_button => true
- else
  = render "/layout/empty_page"
