-# .nav-container.well
-#   %table
-#     %tr
-#       %td
-#         #cal-date-nav.btn-group.pull-left
-#           %button.btn#cal-nav-prev
-#             %i.icon-arrow-left
-#               %button.btn#cal-nav-today
-#                 today
-#               %button.btn#cal-nav-next
-#                 %i.icon-arrow-right
-#           %td.text
-#             %span#cal-current-date
-#           %td.pull-right
-#             #cal-view-switch.btn-group.pull-right
-#               %a.btn#cal-switch-year{:href => "/calendars"}
-#                 year
-#               %a.btn#cal-switch-week.active{:href => "/calendars/week"}
-#                 week
.subnav
  %ul.nav.nav-pills.unselectable
    %li
      %a#subnav-today{:href => "#"}
        now
    %li
      %a#subnav-prev{:href => "#"}
        <
    %li
      %a#subnav-next{:href => "#"}
        >
    %li
      %span.navbar-text#subnav-text
    %li.pull-right.active
      %a#subnav-week{:href => "/calendars/week"}
        week
    %li.pull-right
      %a#subnav-year{:href => "/calendars"}
        year
= weekly_calendar_for @calendars, :year => @year.to_i, :month => @month.to_i, :day => @day.to_i do |c|
  = c.draw_weekly_calendar_nav
  = c.draw_weekly_calendar_body

= modal_for "calendar"
