- content_for :title do
  calendar 
- content_for :sidemenu do
  - render '/layouts/classes_page_sidebar'
- content_for :subnav do
  = render "navbar", :active => "week"
- content_for :main do
  - calendar_name = "calendar"
  = render "/layouts/calendars/weekly_calendar", :calendar_name => "calendar"

  = modal_for "calendar", :delete_button => true
