- content_for :title do
  people/teachers

- content_for :sidemenu do
  - render '/layouts/people_page_sidebar'
  
- content_for :main do
  %table.table.table-bordered.table-striped{:style => 'clear: both'}
    %tr
      %th{:width => '13px'}
      %th{:width => '290px'} Name
      %th{:width => '280px'} Email
      %th Region
      %th
    - @teachers.each do |teacher|
      %tr
        %td
          %a
            %i.icon-remove
        %td
          %a.x-editable-teacher-name{:href => "#"}
            = teacher.name
        %td
          %a.x-editable-email{:href => '#'}
            = teacher.email
        %td
          %a.select2-region{:href => '#'}
        %td
          %button.btn.btn-primary{'type' => 'button'}
            Reset Password
          %button.btn.btn-primary{'type' => 'button', :herf => '#'}
            New teacher
