%ul.nav.nav-list
  %li.active
    %a{:href => '/programs_page/regions'} REGIONS
  %li
    %a{:href => '/programs_page/instrument_types'} INSTRUMENT TYPES
  %li
    %a{:href => '/programs_page/program_types'} PROGRAM TYPES
  %li
    %a{:href => '/programs_page/schools'} SCHOOLS

