%ul.nav.nav-list
  = active_link_fullpath 'REGIONS', '/programs_page/regions'
  = active_link_fullpath 'INSTRUMENT TYPES', '/programs_page/instrument_types'
  = active_link_fullpath 'PROGRAM TYPES', '/programs_page/program_types'
  = active_link_fullpath 'SCHOOLS', '/programs_page/schools'
