= content_for :title do
  programs

= content_for :sidemenu do
  = render 'programs_page/sidebar'

= content_for :main do
  %table.table.table-bordered.table-striped{:style => 'clear: both'}
    %tr
      %th{:width => '100%'}
        Program Type
    %tr
      %td
        %a.x-editable-program-name{:href => '#'}
  %button.btn.btn-primary{'type' => 'button'}
    New Program Type
