.new-entry-form-body
  = simple_form_for @school, :html => {:class => 'new_entry'} do |f|
    = f.input :abbrev, :label => "School Name Abbreviation"
    = f.input :full, :label => "School Full Name"
    = f.association :region, :label => "Region", :label_method => :name, :include_blank => false
