.modal hide fade
  .modal-header
    %button.close{:type => "button", :data-dismiss => "modal", :aria-hidden => "true">&times;
    %h3 Modal header
  .modal-body
    %p One fine body…
  .modal-footer
    =link_to 'Close', :class=>'btn'
    =link_to 'Save changes', :class=>'btn btn-primary'
    -# <a href="#" class="btn btn-primary">Save changes</a>
