%h1 Schools
%table 
  %tr
    %td Abbreviation
    %td Full
    %td Region
  - @schools.each do |school|
    %tr
      = simple_form_for school do |f|
        %td= f.input :abbrev, label: false
        %td= f.input :full, label: false
        %td= f.association :region, :label_method => :name, :value_method => :id, :include_blank => false, collection: Region.order('name ASC'), label: false


-#       %td= school.abbrev
-#       %td= school.full
-#       %td= school.region.name
-#       %td= link_to('edit', edit_school_path(school))
-#       %td= link_to('delete', school, :method => :delete, :data => {:confirm => "Are you sure?"}) 
-#       -# %td= link_to('delete', School.destroy(school))
-# = link_to('Add A School', new_school_path)
