.subnav
  %ul.nav.nav-pills.unselectable
    %li
      %a#subnav-today{:href => "#"}
        now
    %li
      %a#subnav-prev{:href => "#"}
        <
    %li
      %a#subnav-next{:href => "#"}
        >
    %li
      %span.navbar-text#subnav-text
    -# %li.pull-right.active
    -#   %a#subnav-week{:href => "/courses"}
    -#     week
    -# %li.pull-right
    -#   %a#subnav-year{:href => "/courses"}
    -#     year
= weekly_calendar_for @courses, :year => @year.to_i, :month => @month.to_i, :day => @day.to_i, :category_method => :group, :calendar_name => "course" do |c|
  = c.draw_weekly_calendar_nav
  = c.draw_weekly_calendar_body

= modal_for "course"
