// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fmc-container {
  padding-top: 50px;
  table {
    table-layout: fixed;
    text-align: center;
    td {
      border: 1px solid #DFDFDF;
      width: 0.5em;
      height: 0.5em;
      padding: 3px;
    }
    .fmc-cal-header-blank {
      width: 7%;
    }
    .fmc-cal-header-wday {
      width: 3%;
      font-weight: bold;
    }
  }


}

