.multiselect-container {
  .input-prepend {
    padding-left: 15px;
    padding-top: 10px;  
    span.add-on {
      height: 30px;
    }

    input.multiselect-search {
      height: 30px;
    }
  }

}

  
