@import "bootstrap";
#login-content {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 1px;
	width: 320px;
  background-color: #f2f2f2;
  border-radius:10px;
}

#login-sign-in {
	float: right;
}

.login-input {
	width: 306px;
}
