- content_for :title do
  programs/regions

- content_for :sidemenu do
  - render '/layouts/programs_page_sidebar'

- content_for :action_button do
  %a.btn.btn-primary
    %i.icon-trash.icon-white
  %a.btn.btn-primary
    %i.icon-plus.icon-white

- content_for :main do
  %table.table.table-bordered.table-striped.table-condensed{:style => 'clear: both'}
    %tr
      %th{:width => '10px'}
      %th REGION NAME
      - @regions.each do |region|
        %tr
          %td
            %input.checkbox-select-to-delete{:type => 'checkbox'}
          %td
            %a.x-editable-input-text{:href => '#', 'data-url' => "/regions/#{region.id}", 'data-pk' => "#{region.id}", 'data-name' => 'name', 'data-placeholder' => 'input region name'}
              = region.name
  = modal_for "new-entry", :modal_title => "New Region", :css_class => "new-entry"
