%h1 Regions
%table 
  %tr
    %td Name
  - @regions.each do |region|
    %tr
      %td= region.name
      %td= link_to('edit', edit_region_path(region))
      %td= link_to('delete', region, :method => :delete, :data => {:confirm => "Are you sure?"}) 
= link_to('Add A Region', new_region_path)
