- content_for :title do
  programs/instruments

- content_for :sidemenu do
  - render '/layouts/programs_page_sidebar'

- content_for :main do
  %table.table.table-bordered.table-striped{:style => 'clear: both'}
    %tr
      %th{:width => '13px'}
      %th INSTRUMENT NAME
      - @instruments.each do |instrument|
        %tr
          %td
            %a
              %i.icon-remove
          %td
            %a.x-editable-input-text{:href => '#', 'data-url' => "/instruments/#{instrument.id}", 'data-pk' => "#{instrument.id}", 'data-name' => 'name', 'data-placeholder' => 'input instrument name'}
              = instrument.name
  %a.btn.btn-primary.new-entry{:href => "/instruments/new", "data-entry" => "instrument"} New Instrument
  = modal_for "new-entry", :modal_title => "New Instrument", :css_class => "new-entry"
