.navbar.navbar-fixed-top.subnav
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => "#subnav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      #subnav-collapse.nav-collapse.collapse
        %ul.nav.nav-pills.unselectable
          %li
            %a#subnav-today{:href => "#"}
              now
          %li
            %a#subnav-prev{:href => "#"}
              <
          %li
            %a#subnav-next{:href => "#"}
              >
          %li
            %p.navbar-text#subnav-text
        %ul.nav.nav-pills.pull-right.unselectable
          = nav_filter_for "program", @programs, :base_url => "/attendances", :year => params[:year], :month => params[:month], :default_text => "#{@program.school.name}, #{@program.program_type.name}, #{@program.instrument.name}"
