%li
  = link_to "today", self.send(base_path, :year => @today.year, :month => @today.month, :program_id => @program_id)
%li
  = link_to "<", self.send(base_path, :year => @date.prev_month.year, :month => @date.prev_month.month, :program_id => @program_id)
%li
  = link_to ">", self.send(base_path, :year => @date.next_month.year, :month => @date.next_month.month, :program_id => @program_id)
%li
  %span.navbar-text#subnav-text
    = @date.strftime("%B, %Y")
