= nav_filter_for "program", @programs, :base_url => "/attendances", :year => params[:year], :month => params[:month], :default_text => "#{@program.school.full}, #{@program.program_type.name}, #{@program.instrument.name}"
