%select#student-filter.span2.multiselect{:multiple => "multiple"}
  %option
    John Doe
  %option
    Jane Ayre
  %option
    David Watson
%select#school-filter.span2.multiselect{:multiple => "multiple"}
  %option
    Saint Mary School
  %option
    The Harbor School
  %option
    Center for Young Children
%select#teacher-filter.span2.multiselect{:multiple => "multiple"}
  %option
    Shuran Liu
  %option
    Allison Bolten
  %option
    Heather MacArthur
%select#category-filter.span2.multiselect{:multiple => "multiple"}
  %option
    Classes Completed
  %option
    Student Absenses
  %option
    Teacher Absenses
