%select#program-filter.span2.multiselect{:multiple => "multiple"}
  %option
    Saint Mary School - POD
  %option
    The Harbor School - POD
  %option
    Center for Young Children - POD
%select#student-filter.span2.multiselect{:multiple => "multiple"}
  %option
    John Doe
  %option
    Jane Ayre
  %option
    David Watson
-# %select#teacher-filter.span2.multiselect{:multiple => "multiple"}
-#   %option
-#     Shuran Liu
-#   %option
-#     Allison Bolten
-#   %option
-#     Heather MacArthur
