- content_for :sidemenu do
  = render '/layouts/reports_page_sidebar'

- content_for :subnav do
  = render "/layouts/subnav", :nav_pills_partial => nil, :nav_filter_partial => "/reports/filters", :active => nil, :base_path => nil

- content_for :main do
  .toolbar{:style => "padding-bottom: 15px"}
    %button.btn.btn-primary.hide-all{:title => "Hide all details"}
      %i.icon-eye-close.icon-white
  .panel.panel-default.accordion-parent
    .panel-heading.accordion-toggle{"data-target" => "student-1"}
      %span.report-header-student
        John Doe
      %span.report-header-school.label.label-info
        SMS
      %span.report-header-program.label.label-info
        Violin - POD
      .div.pull-right
        %span.badge.badge-success.report-header-completed
          -# always be green
          8/16
        %span.badge.report-header-remaining
          -# always be grey
          8/10
        %span.badge.badge-warning.report-header-overunder
          -# red if negative; grey if zero; yellow if positive
          5
    %table.table.table-condensed.table-striped.table-hover.accordion-body{:id => "student-1"}
      %thead
        %tr
          %th
            Class
          %th
            %span.report-stats{:title => "Student Absences", :data => {:toggle => "tooltip"}}
              SA
          %th
            %span.report-stats{:title => "Teacher Absences", :data => {:toggle => "tooltip"}}
              TA
          %th
            %span.report-stats{:title => "School Closing", :data => {:toggle => "tooltip"}}
              SC
          %th
            %span.report-stats{:title => "Student Absence Makeups", :data => {:toggle => "tooltip"}}
              SM
          %th
            %span.report-stats{:title => "Teacher Absence Makeups", :data => {:toggle => "tooltip"}}
              TM
          %th
            %span.report-stats{:title => "School Closing Makeups", :data => {:toggle => "tooltip"}}
              CM
          %th
            %span.report-stats{:title => "Total Classes Scheduled", :data => {:toggle => "tooltip"}}
              TS

      %tbody
        %tr
          %td
            Class A
          %td
            8
          %td
            0
          %td
            0
          %td
            0
          %td
            0
          %td
            0
          %td
            0


  .panel.panel-default.accordion-parent
    .panel-heading.accordion-toggle{"data-target" => "student-2"}
      %span.report-header-student
        Jane Arye
      %span.report-header-school.label.label-info
        SMS
      %span.report-header-program.label.label-info
        Violin - POD

      .div.pull-right
        %span.badge.badge-success.report-header-completed
          -# always be green
          8/16
        %span.badge.report-header-remaining
          -# always be grey
          8/10
        %span.badge.badge-warning.report-header-overunder
          -# red if negative; grey if zero; yellow if positive
          5
    %table.table.table-condensed.table-striped.table-hover.accordion-body{:id => "student-2"}
      %thead
        %tr
          %th
            Class
          %th
            Classes Completed 
          %th
            Classes Remaining 
      %tbody
        %tr
          %td
            Class A
          %td
            8
          %td
            0

        %tr
          %td
            Class B
          %td
            8
          %td
            0
        %tr
          %td
            Class C
          %td
            8
          %td
            0
        %tr
          %td
            Class D
          %td
            8
          %td
            0

