%ul.nav.nav-list{:style => "margin-top: 45px"}
  = active_link_fullpath 'CALENDAR', '/calendars'
  = active_link_fullpath 'SCHEDULE', '/courses'
  = active_link_fullpath 'ATTENDANCE', '/attendances'
  = active_link_fullpath "ROSTER", "/rosters"
