-if current_user.type == "Teacher"
  = render 'layouts/teacher_nav_bar'
-elsif current_user.type == "Staff"
  = render 'layouts/staff_nav_bar'
-elsif current_user.type == "Admin"
  = render 'layouts/admin_nav_bar'
