%ul.nav.nav-list
  - if verify_user(['Admin'])
    = active_link_fullpath 'STAFF', '/staffs'
  - if verify_user(['Admin', 'Staff'])
    = active_link_fullpath 'TEACHERS', '/teachers'
  - if verify_user(['Admin', 'Staff', 'Teacher'])
    = active_link_fullpath 'STUDENTS', '/students'
%br
