%ul.nav.nav-list{:style => "margin-top: 45px"}
  %li{:class => "#{active_class("reports", "index")}"}
    = link_to "STUDENTS", "/reports"
  %li{:class => "#{active_class("reports", "index_teachers")}"}
    = link_to "TEACHERS", "/reports"
